.student-home-template {
  background-image: url("../../../../assets/images/background/responsible-yellow-background-2.png");
  background-size: 90%;
  background-color: var(--yellow-400);
  background-position: center;
  background-repeat: no-repeat;
}
