.exercise-start-button-component {
  height: 230px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  cursor: pointer;

  span {
    color: var(--green-200);
  }
}

.exercise-start-button {
  width: 160px;
  height: 160px;

  background-color: var(--green-300);
  border: none;
  border-radius: 100%;

  transition: all 0.5s;

  box-shadow: 0px 0px 11px -3px var(--black);

  &:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 21px -1px var(--green-200);
  }
}
