.register-form {
  width: 50%;
  height: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 20px;

  border: 1px solid var(--black);
  border-radius: 15px;

  background-color: var(--transparent-white);

  color: var(--black);

  overflow: auto;

  .form-buttons {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  & form {
    width: 70%;
    height: 100%;
  }

  & button {
    width: 48%;
    height: 40px;

    border: 1px solid var(--black);
    border-radius: 3px;

    background-color: var(--yellow-300);
    color: var(--black);

    font-family: "FredokaOne";
    font-size: 18px;
  }
}
