@font-face {
  font-family: "FredokaOne";
  src: url("./assets/fonts/FredokaOne-Regular.ttf");
}

@font-face {
  font-family: "AdumuRegular";
  src: url("./assets/fonts/Adumu.ttf");
}

body {
  margin: 0;
  font-family: "FredokaOne";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

//PROJECT-COLLORS
:root {
  --dark-blue: #2c68b8;

  --light-blue: #3093d5;

  --purple: #b437f2;

  --yellow: #ffde59;

  --orange: #ff914d;

  --red: #ff5757;

  --green: #21993d;

  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.5);

  --grey: #7a7a7a;
  --dark-grey: #424242;

  --black: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey);
}
