@font-face {
  font-family: "FredokaOne";
  src: url("./assets/fonts/FredokaOne-Regular.ttf");
}

@font-face {
  font-family: "AdumuRegular";
  src: url("./assets/fonts/Adumu.ttf");
}

body {
  margin: 0;
  font-family: "FredokaOne";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "FredokaOne";
  cursor: pointer;
}

input {
  border: 2px solid var(--white);
  border-radius: 10px;
}

//PROJECT-COLLORS
:root {
  --blue-100: #84d4f7;
  --blue-200: #6c96cd;
  --blue-300: #3093d5;
  --blue-400: #2c68b8;
  --blue-500: #094088;

  --purple-100: #ecc6ff;
  --purple-200: #b145e7;
  --purple-300: #b437f2;
  --purple-400: #601586;
  --purple-500: #3f095a;

  --yellow-100: #ffefad;
  --yellow-200: #fde68b;
  --yellow-300: #ffde59;
  --yellow-400: #f8bd49;
  --yellow-500: #d99d26;

  --orange-100: #fbad69;
  --orange-200: #ffa065;
  --orange-300: #ff914d;
  --orange-400: #e16518;
  --orange-500: #c76000;

  --red-100: #ff8e8e;
  --red-200: #ff5757;
  --red-300: #cd4242;
  --red-400: #c02a2a;
  --red-500: #ae0000;

  --green-100: #7bfd9a;
  --green-200: #7bfd9a;
  --green-300: #21993d;
  --green-400: #26963f;
  --green-500: #024b12;

  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.5);

  --grey-100: #ababab;
  --grey-200: #8f8f8f;
  --grey-300: #7a7a7a;
  --grey-400: #424242;
  --grey-500: #292929;

  --black: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  margin: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--grey-400);
  border: 5px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
}
