.price-tag {
  width: 120px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--black);
  border-radius: 15px;

  font-size: 25px;
  font-family: "AdumuRegular";
  color: var(--yellow-300);
  background-color: var(--blue-400);

  & svg {
    stroke: var(--yellow-300);
    fill: var(--yellow-300);
  }

  & span {
    font-size: 22px;
    padding-top: 4px;
  }
}
