.add-student-to-group-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 20px;
  right: 20px;

  background: none;
  border: none;
  padding: 0;
}
