.header {
  width: 100vw;
  height: 160px;
  background-color: var(--dark-blue);

  &--container {
    height: 110px;
    padding-top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--logo {
    max-width: 130px;
  }
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & span {
    margin-right: 15px;
    font-size: 20px;
    color: var(--white);
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
      0px -4px 10px rgba(141, 141, 141, 0.3);
  }

  & button {
    background: none;
    border: none;
  }

  & svg {
    stroke: var(--white);
  }
}
