.group-card {
  width: 400px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--black);
  border-radius: 5px;

  cursor: pointer;

  &-name {
    font-size: 30px;
  }
}
