.form-group {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;

  .invalid-feedback {
    display: flex;
    font-size: 15px;
    color: var(--red-200);
  }
  .is-invalid {
    border: 1px solid var(--red-200);
    background-color: rgb(255, 210, 210);
  }
}
