.modal {
  width: 300px;
  height: 500px;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;

  padding: 30px 20px;

  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.must-show--false {
  display: none;
}
