.memory-game {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
}

.memory-game-card-list {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 75%;
  justify-content: space-evenly;
  align-items: center;
}
