.student-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid var(--grey);
  padding: 20px;

  position: relative;

  h3 {
    margin-top: 0;
  }
}
