.student-list {
  height: 530px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  padding: 20px;

  position: relative;

  h3 {
    margin-top: 0;
  }

  &--no-student-phrase {
    height: 100%;
  }

  &::-webkit-scrollbar {
    width: 18px;
  }

  &::-webkit-scrollbar-track {
    margin: 7px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--grey-400);
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 10px;
  }
}
