.student-list {
  max-height: 430px;
  overflow-y: auto;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;

  position: relative;

  h3 {
    margin-top: 0;
  }
}
