.responsible-registration-template {
  width: 100vw;
  height: 100vh;

  background-image: url("../../../../assets/images/background/responsible-yellow-background.png");
  background-size: 90%;
  background-position: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
