.add-student-to-group-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 20px;
  right: 20px;

  background: none;
  border: none;
  padding: 0;
}

.form-bond-invite {
  width: 100%;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 15px;
}

.register-student-link-button {
  width: 100%;
  display: flex;
  align-items: center;

  cursor: pointer;

  & span {
    margin-right: 10px;
  }
}

.send-bond-invite {
  border: 2px solid var(--white);
  border-radius: 20px;
  background-color: var(--blue-400);
  color: var(--white);

  & svg {
    stroke: var(--white);
  }

  &--username-input {
    width: 100%;
    height: 100%;

    border: 2px solid var(--white);
    border-right: none;
    border-radius: 10px 0 0 10px;
  }

  &--search-button {
    background-color: var(--white);

    border: 1px solid var(--white);
    border-left: 1px solid var(--black);
    border-radius: 0 10px 10px 0;
    & svg {
      stroke: var(--black);
    }
  }
}
